
.header{
    background-color: #73886f;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.header nav ul{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    list-style: none;

}
 .header nav ul li a{
    text-decoration: none;

 }
 .search-bar{
    display: flex;
    margin-left: 590px;
 }